/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

header li a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

header li a:visited {
	color: #000;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	text-transform: uppercase;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.categories {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.categories button {
	font-family: "Syne";
	font-size: 16px;
	font-weight: 700;
	background-color: #FFF;
	color: #1D6154;
	border: 2px solid #1D6154;
	border-radius: 60px;
	padding: 10px 15px;
	margin: 10px;
}

.categories button:hover {
	background-color: #1D6154;
	color: #FFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 25px 107px;
}

footer a {
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	color: #000;
}


/*******Page de connextion*******/
#login {
	background-color: #FFFEF8;
}

.connexion {
	margin-top: 150px;
}

.connexion h2 {
	display: flex;
	justify-content: center;
}

.connexion form {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 40px 0px 40px;
	width: 35%;
}

.connexion label {
	margin-bottom: 10px;
}

.connexion input[type="email"],
input[type="password"] {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.connexion input[type="submit"] {
	font-family: "Syne", "sans-serif";
	padding: 10px 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1D6154;
	color: #FFF;
	border: none;
	border-radius: 60px;
}

.connexion p a {
	display: flex;
	justify-content: center;
	color: #000;
}

.error {
	box-shadow: 2px 2px 8px red !important;
}

#login footer {
	bottom: 0;
}

.message-erreur {
	text-align: center;
	color: red;
	padding-bottom: 25px;
	font-size: 16px;
	line-height: 20px;
}


.btnLog {
	cursor: pointer;
}

/********Mode edition ********/
.divEdition {
	display: flex;
	justify-content:center;
	align-items:center;
	gap: 20px;
	background-color: #000;
	height: 50px;
	padding:20px;
}

.divEdition a {
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	font-family: 'Work Sans';
	font-weight: 400;
}

.divEdition button {
	font-size: 14px;
	font-family: 'Work Sans';
	font-weight: 500;
	padding: 11px 23px;
	background-color: #FFF;
	border: none;
	border-radius: 60px;
	cursor: pointer;
}

.modifier-photo {
	margin-left: 10%;
	margin-top: 15px;
}

.modifier-projet {
	margin-bottom: 2em;
}

.modifier-photo a,  .modifier-projet a {
	text-decoration: none;
	color: #000;
	font-size:14px;
	font-weight:400;
}

.divTitre {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
}

/********MODALE********/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  rgba(0, 0, 0, 0.8);
	display:flex;
	align-items: center;
	justify-content: center;
	animation: fadeIn .3s both;
}

.modal-wrapper {
	background-color: #FFF;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	overflow: auto !important;
	border-radius: 10px;
	display: flex;
    flex-direction: column;
	animation: slideFropTop .5s both;
}

.modal-wrapper a {
	text-decoration: none;
    color: black;
}

.modal[aria-hidden="true"] {
	animation-name : fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation-name: slideToBottom;
}

#modal1 h3, #modal2 h3 {
	font-family: 'Work Sans';
	font-size: 26px;
	line-height: 30.5px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 50px;
}

.modal-wrapper .js-modal-close {
	display: flex;
    justify-content: flex-end;
    font-size: 22px;
    padding: 6px;
}

.projet-galerie-photos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
	padding-left:100px;
	padding-right: 100px;
}

.projet-galerie-photos img {
	width:100%;
	height: 105px;
	object-fit: cover;
	margin-bottom: 5px;
}

.lien-editer {
	margin-bottom: 15px;
	display:flex;
	flex-direction: column;
	position:relative;
}

.fa-trash-can {
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 3px;
}

.picto-poubelle-lien {
	position: absolute;
	top: 5px;
	right: 5px;
}

.separateur {
    border-top: 1px solid #B3B3B3;
    margin-left: 100px;
    margin-right: 100px;
	margin-top: 50px;
} 

.btn-ajout-photo-modal {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	text-align: center;
	border-radius: 60px;
	border: none;
	padding: 10px 50px;
	cursor:pointer;
}

.lien-supp-gallerie {
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 400;
	text-align:center;
	color: #D65353 !important;
	margin-bottom: 50px;
}

/*Animation modal*/
/* @keyframes fadeIn {
	from {opacity: 0};
	to {opacity: 1};
}

@keyframes slideFropTop {
	from {transform: translateY(-50px)};
	to {transform: translateY(0px)};
}

@keyframes fadeOut {
	from {opacity: 1};
	to {opacity: 0};
}

@keyframes slideToBottom {
	from {transform: translateY(0px)};
	to {transform: translateY(-50px)};
} */

/*MODALE 2 */
.picto-nav-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 20px 25px;
}

.fa-arrow-right, .fa-xmark  {
	cursor:pointer;
}

.container-nouvelle-photo {
	display:flex;
	flex-direction: column;
	width: 420px;
	border-radius: 3px;
	background-color: #E8F1F6;
	margin-left: auto;
	margin-right: auto;
}

.picto-visuel {
	font-size:60px;
	color: #B9C5CC;
	padding: 10px;
	margin: 15px auto;
}

.input-file {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #306685;
	padding: 10px 20px;
	background-color: #CBD6DC;
	border-radius: 50px;
	width: 180px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.container-nouvelle-photo p {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
	color: #444444;
}

.container-new-photo {
	display: flex;
	flex-direction: column;
	width: 420px;
	margin: 0 auto;
}

.container-new-photo label {
margin-top:30px;
}

.container-new-photo input, .container-new-photo select {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}

.btn-valider-photo {
	padding: 10px 50px;
	width: 150px;
	margin : 20px auto;
	font-family: 'Syne', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	border-radius: 60px;
	background-color: #A7A7A7;
	border: none;
}

#file-preview {
	height: auto;
	width: 170px;
	object-fit: cover; 
	margin-left: auto;
	margin-right: auto;
}